@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.barraNav{
    font-family: 'Courier Prime', monospace;
    height: 3em;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    box-sizing: border-box;
    float: left;
    width: 10%;
    padding-top: 0.5em;
}

.barraNav > .logo > a{
    background-color: #2d2b2b;
    color: #fef9fb !important;
    font-size: 2em;
    text-decoration: none;
}

.barraNav > .logo > a:hover{
    background-color: black;
    cursor: pointer;
}

.opciones{
    box-sizing: border-box;
    float: right;
    text-align: right;
    vertical-align: middle;
    font-size: 90%;
    width: 90%;
    padding-top: 2em;
}

.opciones li{
    list-style: none;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
}

.opciones li a{
    text-decoration: none;
    color: #2d2b2b !important;
}

.opciones li a:hover{
    cursor: pointer;
    background-color: #2d2b2b;
    color: #fef9fb !important;
}