
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.barraNav{
    font-family: 'Courier Prime', monospace;
    height: 3em;
    background-color: transparent;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#linkAcerca, #linkContacto, #registro{
    color: #ff848a !important;
}

.logo{
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.barraNav > .logo > a{
    color: #2d2b2b;
    font-size: 2em;
    text-decoration: none;
}

.barraNav > .logo > a:hover{
    cursor: pointer;
}

.opciones{
    font-size: 90%;
    width: 90%;
    height: 100%;
}

.opciones ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}

.opciones li{
    list-style: none;
    display: inline-block;
    padding-left: 1.2%;
    padding-right: 1.2%;
}

.opciones li a{
    text-decoration: none;
    color: #2d2b2b !important;
}

.opciones li a:hover{
    cursor: pointer;
    color: #ff848a !important;
}

.fondo-oscuro{
    background-color: #2d2b2b !important;
}

.fondo-oscuro a{
    color: #fef9fb !important;
}

.fondo-oscuro .opciones a{
    color: #fef9fb !important;
}